h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul, li{
    list-style: none;
    padding-left: 0;
}
/* Header */


.header{
    background-color: brown;
    height: 60px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 30px;
}
.searchbar{
    background-color: transparent;
    border: none;
}

/* Main container */
.main-container{
    display: flex;
}

/* Sidebar */
.sidebar{
    background-color: #eee;
    width: 300px;
    
    min-height: 100vh;
}
.sidebar-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid #cecece;
    padding: 10px;
}
.sidebar-header h5{
    font-weight: bold;
    margin-left: 10px;
}
.menu-items{
    padding-top: 10px;
    padding-left: 50px;
}
.menu-items li {
    padding: 10px;
}
.sidebar-footer{
    display: flex;
    align-items: center;
     padding: 10px;
}
.sidebar-footer h5{
    color: #ccc;
    font-weight: 300;
    margin-left: 10px;
}
/* Content */
.content{
    flex: 1;
    padding: 40px;
    /* background-color: #ccc; */
}

.content__title{
font-weight: 500;
margin-left: 20px;
margin-bottom: 20px;
}


/* Task */
.task__single{
    display: flex;
    align-items: flex-start;
}
.task__content{
    padding-left: 10px;
}